gtk_color_scheme = "bg_color:BG_COLOR"
gtk_color_scheme = "fg_color:FG_COLOR"
gtk_color_scheme = "base_color:BASE_COLOR"
gtk_color_scheme = "text_color:TEXT_COLOR"
gtk_color_scheme = "selected_bg_color:SELECTED_BG_COLOR"
gtk_color_scheme = "selected_fg_color:SELECTED_FG_COLOR"
gtk_color_scheme = "tooltip_bg_color:TOOLTIP_BG_COLOR"
gtk_color_scheme = "tooltip_fg_color:TOOLTIP_FG_COLOR"
gtk_color_scheme = "link_color:LINK_COLOR"
gtk_color_scheme = "menu_bg_color:MENU_BG_COLOR"
gtk_color_scheme = "menu_fg_color:MENU_FG_COLOR"
