gtk_color_scheme = "bg_color:#0d0815"
gtk_color_scheme = "fg_color:#dcd6c2"
gtk_color_scheme = "base_color:#190e22"
gtk_color_scheme = "text_color:#dcd6c2"
gtk_color_scheme = "selected_bg_color:#bf0053"
gtk_color_scheme = "selected_fg_color:#ffbb62"
gtk_color_scheme = "tooltip_bg_color:#190e22"
gtk_color_scheme = "tooltip_fg_color:#dcd6c2"
gtk_color_scheme = "link_color:#6c00bf"
gtk_color_scheme = "menu_bg_color:#0d0815"
gtk_color_scheme = "menu_fg_color:#dcd6c2"
