/**
 * Style classes.
 *
 * The style classes rules apply to any widget defining that class.
 * For example, the .buttons class applies to all types of buttons,
 * and allows you to theme all these types of buttons using a single
 * set of rules.
 *
 * You can use all style properties defined for any of the class
 * members in the class rules. These properties can be found in
 * 'Template\Widgets\WidgetName.css'.
 *
 * alt reference:
 * https://git.gnome.org/browse/gtk+/tree/gtk/theme/Adwaita/gtk-contained.css?id=48e543fbc88e753a1a496248eaa7f83b5722de86
 */

*
{
	background-color: @background-color;
	color: @foreground-color;
	-GtkHTML-link-color: @link-color;
	-GtkIMHtml-hyperlink-color: @link-color;
	-GtkWidget-link-color: @link-color;
	-GtkWidget-visited-link-color: @link-color;
}

*:insensitive{
	/*background-color: shade(@background-color,0.85);*/
	color: shade(@foreground-color,0.5);
}

GtkImage, .button *
{
	background: none;
}

.accelerator {
	/* Members: GtkAccelLabel. */
}

.frame {
	/* Members: GtkFrame. */
	border-color: shade(@background-color, 0.8);
}

.calendar {
	/* Members: GtkCalendar. */
}

.radio:checked, .check:checked {
	background: @entryselbg-color;
	color: @entryselfg-color;
}

.radio, .check {
	background: @entrybg-color;
	color: @entryfg-color;
	border: 1px solid shade(@background-color, 0.8);
	/* .radio Members: GtkCellRendererToggle, GtkRadioMenuItem, GtkRadioButton. */
	/* .check Members: GtkCheckMenuItem, GtkCellRendererToggle, GtkCheckButton. */
}

.check:insensitive, .radio:insensitive {
	background: @background-color;
	color: shade(@background-color, 0.3);
}

.menubar {
	/* Members: GtkMenuBar. */
}

/* Members: GtkSpinner. */

@keyframes spinner {
0.00% {background-image: url('assets/spin/tmp-0.gif')}
3.45% {background-image: url('assets/spin/tmp-1.gif')}
6.90% {background-image: url('assets/spin/tmp-2.gif')}
10.34% {background-image: url('assets/spin/tmp-3.gif')}
13.79% {background-image: url('assets/spin/tmp-4.gif')}
17.24% {background-image: url('assets/spin/tmp-5.gif')}
20.69% {background-image: url('assets/spin/tmp-6.gif')}
24.14% {background-image: url('assets/spin/tmp-7.gif')}
27.59% {background-image: url('assets/spin/tmp-8.gif')}
31.03% {background-image: url('assets/spin/tmp-9.gif')}
34.48% {background-image: url('assets/spin/tmp-10.gif')}
37.93% {background-image: url('assets/spin/tmp-11.gif')}
41.38% {background-image: url('assets/spin/tmp-12.gif')}
44.83% {background-image: url('assets/spin/tmp-13.gif')}
48.28% {background-image: url('assets/spin/tmp-14.gif')}
51.72% {background-image: url('assets/spin/tmp-15.gif')}
55.17% {background-image: url('assets/spin/tmp-16.gif')}
58.62% {background-image: url('assets/spin/tmp-17.gif')}
62.07% {background-image: url('assets/spin/tmp-18.gif')}
65.52% {background-image: url('assets/spin/tmp-19.gif')}
68.97% {background-image: url('assets/spin/tmp-20.gif')}
72.41% {background-image: url('assets/spin/tmp-21.gif')}
75.86% {background-image: url('assets/spin/tmp-22.gif')}
79.31% {background-image: url('assets/spin/tmp-23.gif')}
82.76% {background-image: url('assets/spin/tmp-24.gif')}
86.21% {background-image: url('assets/spin/tmp-25.gif')}
89.66% {background-image: url('assets/spin/tmp-26.gif')}
93.10% {background-image: url('assets/spin/tmp-27.gif')}
96.55% {background-image: url('assets/spin/tmp-28.gif')}
100.00% {background-image: url('assets/spin/tmp-0.gif')}
}

@keyframes ispinner {
0.00% {background-image: url('assets/ispin/tmp-0.gif')}
3.45% {background-image: url('assets/ispin/tmp-1.gif')}
6.90% {background-image: url('assets/ispin/tmp-2.gif')}
10.34% {background-image: url('assets/ispin/tmp-3.gif')}
13.79% {background-image: url('assets/ispin/tmp-4.gif')}
17.24% {background-image: url('assets/ispin/tmp-5.gif')}
20.69% {background-image: url('assets/ispin/tmp-6.gif')}
24.14% {background-image: url('assets/ispin/tmp-7.gif')}
27.59% {background-image: url('assets/ispin/tmp-8.gif')}
31.03% {background-image: url('assets/ispin/tmp-9.gif')}
34.48% {background-image: url('assets/ispin/tmp-10.gif')}
37.93% {background-image: url('assets/ispin/tmp-11.gif')}
41.38% {background-image: url('assets/ispin/tmp-12.gif')}
44.83% {background-image: url('assets/ispin/tmp-13.gif')}
48.28% {background-image: url('assets/ispin/tmp-14.gif')}
51.72% {background-image: url('assets/ispin/tmp-15.gif')}
55.17% {background-image: url('assets/ispin/tmp-16.gif')}
58.62% {background-image: url('assets/ispin/tmp-17.gif')}
62.07% {background-image: url('assets/ispin/tmp-18.gif')}
65.52% {background-image: url('assets/ispin/tmp-19.gif')}
68.97% {background-image: url('assets/ispin/tmp-20.gif')}
72.41% {background-image: url('assets/ispin/tmp-21.gif')}
75.86% {background-image: url('assets/ispin/tmp-22.gif')}
79.31% {background-image: url('assets/ispin/tmp-23.gif')}
82.76% {background-image: url('assets/ispin/tmp-24.gif')}
86.21% {background-image: url('assets/ispin/tmp-25.gif')}
89.66% {background-image: url('assets/ispin/tmp-26.gif')}
93.10% {background-image: url('assets/ispin/tmp-27.gif')}
96.55% {background-image: url('assets/ispin/tmp-28.gif')}
100.00% {background-image: url('assets/ispin/tmp-0.gif')}
}

.spinner:active {
	animation: spinner 1s infinite linear;
}

.spinner:active:insensitive {
	animation: ispinner 1s infinite linear;
}

.spinner {
	background-color: transparent;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('assets/spin.gif');
}

.spinner:insensitive {
	background-image: url('assets/ispin.gif');
}



.menu {
	/* Members: GtkCheckMenuItem, GtkRadioMenuItem, GtkMenu, GtkMenuItem. */
}

.tooltip {
	/* Members: GtkTooltip. */
	color: @tooltip-fg-color;
	border: 1px solid shade(@tooltipbg-color, 2.2);
	background: -gtk-gradient(linear, 0 0, 0 1,
	                color-stop(0.0,shade(@tooltipbg-color,1.2)),
	                color-stop(0.50,shade(@tooltipbg-color,1.3)),
	                color-stop(0.51,shade(@tooltipbg-color,1.5)),
	                color-stop(1.00,shade(@tooltipbg-color,1.2)));
}

.tooltip * {
	background: none;
	border: none;
}

.cell {
	/* Members: GtkCellRendererToggle. */
	color: @entryfg-color;
	background-color: @entrybg-color;
}

column-header .button * {
	background: none;
}

column-header .button {
	border-color: shade(@background-color, 0.9);
	background: -gtk-gradient(radial, center bottom, 0.28, center center, 1.0,
	                color-stop(0.00, shade(@background-color, 1.3)),
	                color-stop(0.16, shade(@background-color, 1.1)),
	                color-stop(1.00, @background-color));
	box-shadow: none;
}

.viewport {
	/* Members: GtkViewport. */
}

.grip {
	/* Members: GtkWindow. */
}

.popup {
	/* Members: GtkMenu. */
}

.scrolled-window {
	/* Members: GtkScrolledWindow. */
}

.slider {
	background: -gtk-gradient(linear, 0 0, 0 1,
	                color-stop(0.0,shade(@background-color,1.2)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.3)),
	                color-stop(1.00,shade(@background-color,1.2)));
	/* Members: GtkScale, GtkScrollbar. */
}

.scrollbar.slider {
	border-color: shade(@entryselbg-color, 0.7);
	box-shadow: inset 0 0 0 1px shade(@entryselbg-color, 2.0);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,  shade(@entryselbg-color, 1.0)),
	                color-stop(0.50, shade(@entryselbg-color, 1.5)),
	                color-stop(0.50, shade(@entryselbg-color, 1.0)),
	                color-stop(1.00, shade(@entryselbg-color, 1.0)));
}

.scrollbar.slider.vertical {
	background: -gtk-gradient(linear, 0 0, 1 0, color-stop(0.0, shade(@entryselbg-color, 1.0)),
	                color-stop(0.50,shade(@entryselbg-color, 1.5)),
	                color-stop(0.50,shade(@entryselbg-color, 1.0)),
	                color-stop(1.00,shade(@entryselbg-color, 1.0)));
}

/*
GtkSwitch {
	background:yellow;
}*/

.notebook {
	/* Members: GtkNotebook. */
	border: 1px solid shade(@background-color,0.8);
}

GtkFrame
{
	border: 1px solid shade(@background-color,0.5);
}

.notebook tab {
	padding: 5px 8px;
}

.notebook tab.top {
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,0.7)),
	                color-stop(0.50,shade(@background-color,0.8)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,0.7)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 1.5), 0.3),
	            inset 0 -1px 0 0 shade(@background-color, 0.7);
	border-bottom:none;
}
.notebook tab.bottom {
	background: -gtk-gradient(linear, 0 1, 0 0, color-stop(0.0,shade(@background-color,0.7)),
	                color-stop(0.50,shade(@background-color,0.8)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,0.7)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 1.5), 0.3),
	            inset 0 1px 0 0 shade(@background-color, 0.7);
	border-top:none;
}

.notebook tab.left {
	background: -gtk-gradient(linear, 0 1, 0 0, color-stop(0.0,shade(@background-color,0.7)),
	                color-stop(0.50,shade(@background-color,0.8)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,0.7)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 1.5), 0.3),
	            inset -1px 0 0 0 shade(@background-color, 0.7);
	border-right:none;
}
.notebook tab.right {
	background: -gtk-gradient(linear, 0 0, 1 0, color-stop(0.0,shade(@background-color,0.7)),
	                color-stop(0.50,shade(@background-color,0.8)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,0.7)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 1.5), 0.3),
	            inset 1px 0 0 0 shade(@background-color, 0.7);
	border-left: none;
}

.trough {
	/* Members: GtkProgressBar, GtkScale, GtkScrollbar, GtkSwitch. */
	background: shade(@background-color, 0.75);
	border: 1px solid shade(@background-color, 0.5);
	margin: 5px;
	border-radius: 4px;
}

.scale.trough.highlight.left, 
.scale.trough.highlight.right, 
.scale.trough.vertical.highlight.top,
.scale.trough.vertical.highlight.bottom 
{
	background: @entryselbg-color;
	box-shadow: inset 0 0 0 6px shade(@entryselbg-color, 1.2),
	            inset 0 0 0 5px shade(@entryselbg-color, 0.7),
	            inset 0 0 0 4px @background-color;
}

.scale .trough {
	border-radius: 4px;
	box-shadow: inset 0 0 0 5px @background-color;
	border: 1px solid @background-color;
	margin: 0px;
}

.scale:focus .trough {
	border: 1px solid @entryselbg-color;
	box-shadow: inset 0 0 0 5px mix(@entryselbg-color, @background-color, 0.8);
	background: mix(@entryselbg-color, @background-color, 0.8);
}

.scale:focus.trough.highlight.left, 
.scale:focus.trough.highlight.right, 
.scale:focus.trough.vertical.highlight.top,
.scale:focus.trough.vertical.highlight.bottom 
{
	background: @entryselbg-color;
	box-shadow: inset 0 0 0 6px shade(@entryselbg-color, 1.2),
	            inset 0 0 0 5px shade(@entryselbg-color, 0.7),
	            inset 0 0 0 4px mix(@entryselbg-color, @background-color, 0.8);
}

.background {
	/* Members: GtkWindow. */
}

.toolbar {
	/* Members: GtkToolbar. */
}

.toolbar .separator {
	color: shade(@entryselbg-color, 0.7);
}

.toolbar .button * {
	background: none;
}

.dock {
	/* Members: GtkHandleBox. */
}

.button, .slider {
	box-shadow: inset 0 0 0 1px shade(@background-color,3.6);
	border: 1px solid shade(@background-color, 0.3);
	padding: 1px 1px;
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,1.3)));
	/* Members: GtkCheckButton, GtkRadioButton, GtkButton, GtkToggleButton. */
}

.button > * {
	padding: 2px;
}

.button:focus > *
{
	background: alpha(shade(@entryselbg-color, 0.5), 0.4);
	box-shadow: inset 0 0 0 1px shade(@entryselbg-color, 0.9);
	color: @entryselfg-color;
}

.button:hover {
	box-shadow: inset 0 0 0 1px shade(@background-color, 5.4);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color, 1.7)),
	                color-stop(0.50,shade(@background-color,2.0)),
	                color-stop(0.51,shade(@background-color,1.7)),
	                color-stop(1.00,shade(@background-color,1.8)));
}

.button:checked, .button:active:hover
{
	border: 1px solid shade(@background-color, 0.5);
	box-shadow: inset 0 0 0 1px shade(@background-color, 0.8);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,1.3)),
	                color-stop(0.50,shade(@background-color,1.3)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,1.1)));
}

.button:checked:hover {
	box-shadow: inset 0 0 0 1px shade(@background-color, 0.8);
	border: 1px solid shade(@background-color, 0.5);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,1.3)));
}

.toolbar .button
{
	background:none;
	border-color: rgba(0, 0, 0, 0);
	padding: 5px 5px;
	box-shadow: none;
}

.toolbar .button:hover {
	box-shadow: inset 0 0 0 1px mix(@entryselbg-color, #bbbbbb, 0.2);
	border-color: shade(@entryselbg-color, 0.5);
	background: -gtk-gradient(radial, center bottom, 0.28,
	                                  center center, 1.0,
	                color-stop(0.00, alpha(shade(@entryselbg-color, 0.9), 0.7)),
	                color-stop(1.00, rgba(0, 0, 0, 0))),
	            -gtk-gradient(linear, 0 0, 0 1,
	                color-stop(0.0,shade(@entryselbg-color, 0.6)),
	                color-stop(0.50,shade(@entryselbg-color,0.6)),
	                color-stop(0.51,shade(@entryselbg-color,0.3)),
	                color-stop(1.00,shade(@entryselbg-color,0.4)));
}

.toolbar .button:checked,
.toolbar .button:active:hover
{
	background: -gtk-gradient(radial, center bottom, 0.28,
	                                  center center, 1.0,
	                color-stop(0.00, alpha(shade(@entryselbg-color, 1.2), 0.7)),
	                color-stop(1.00, rgba(0, 0, 0, 0))),
	            -gtk-gradient(linear, 0 0, 0 1,
	                color-stop(0.0, shade(mix(@background-color, @entryselbg-color, 0.9),1.3)),
	                color-stop(0.50,shade(mix(@background-color, @entryselbg-color, 0.9),1.3)),
	                color-stop(0.51,shade(mix(@background-color, @entryselbg-color, 0.9),0.9)),
	                color-stop(1.00,shade(mix(@background-color, @entryselbg-color, 0.9),1.1)));
	border: 1px solid shade(@entryselbg-color, 0.5);
	color: @entryselfg-color;
}

.notebook tab:active {
	/*border: 1px solid shade(@background-color,3.6);*/
	padding: 7px 10px;
}

.notebook tab.top:active {
	border-right:  1px solid shade(@background-color, 0.8);
	border-left:   1px solid shade(@background-color, 0.8);
	border-bottom: none;
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.2)),
	                color-stop(1.00,shade(@background-color,1.0)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 3.6), 0.3),
	            inset 0 -1px 0 0 @background-color;
}
.notebook tab.left:active {
	border-top:    1px solid shade(@background-color, 0.8);
	border-bottom: 1px solid shade(@background-color, 0.8);
	border-right:  none;
	background: -gtk-gradient(linear, 0 0, 1 0, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.2)),
	                color-stop(1.00,shade(@background-color,1.0)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 3.6), 0.3),
	            inset -1px 0 0 0 @background-color;
}
.notebook tab.bottom:active {
	border-right: 1px solid shade(@background-color, 0.8);
	border-left:  1px solid shade(@background-color, 0.8);
	border-top:   none;
	background: -gtk-gradient(linear, 0 1, 0 0, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.2)),
	                color-stop(1.00,shade(@background-color,1.0)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 3.6), 0.3),
	            inset 0 1px 0 0 @background-color;
}
.notebook tab.right:active {
	border-top:    1px solid shade(@background-color, 0.8);
	border-bottom: 1px solid shade(@background-color, 0.8);
	border-left:   none;
	background: -gtk-gradient(linear, 1 0, 0 0, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.2)),
	                color-stop(1.00,shade(@background-color,1.0)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 3.6), 0.3),
	            inset 1px 0 0 0 @background-color;
}

.button:insensitive, .slider:insensitive {
	box-shadow: inset 0 0 0 1px shade(@background-color,1.3);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,0.95)),
	                color-stop(0.50,shade(@background-color,1.05)),
	                color-stop(0.51,shade(@background-color,1.45)),
	                color-stop(1.00,shade(@background-color,1.05)));
	/* Members: GtkCheckButton, GtkRadioButton, GtkButton, GtkToggleButton. */
}

.toolbar .button:insensitive
{
	opacity: 0.3;
	background: @background-color;
	border: none;
	box-shadow: none;
}

GtkLinkButton * {
	text-decoration: underline;
	color: @link-color;
	padding: 1px 2px;
}

GtkLinkButton.button {
	background: @background-color;
	box-shadow: none;
	border-color: rgba(0, 0, 0, 0);
}

.progressbar {
	/* Members: GtkProgressBar, GtkCellRendererProgress. */
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@entryselbg-color,1.0)),
	                color-stop(0.50,shade(@entryselbg-color,1.1)),
	                color-stop(0.51,shade(@entryselbg-color,1.4)),
	                color-stop(1.00,shade(@entryselbg-color,1.0)));
	border-radius: 4px;
	border: 1px solid shade(@background-color, 0.5);
	color: @entryselfg-color;
}
.progressbar.vertical {
	background: -gtk-gradient(linear, 0 0, 1 0, color-stop(0.0,shade(@entryselbg-color,1.0)),
	                color-stop(0.50,shade(@entryselbg-color,1.1)),
	                color-stop(0.51,shade(@entryselbg-color,1.4)),
	                color-stop(1.00,shade(@entryselbg-color,1.0)));
}

.arrow {
	/* Members: GtkArrow. */
}

.menuitem {
	/* Members: GtkMenuItem. */
	color: @menufg-color;
	background-color: @menubg-color;
	padding: 3px 2px;
}

GtkLabel, GtkLabel:insensitive {
	background:none;
}

GtkTextView:selected, .entry:selected
{
	color: @entryselfg-color;
	background: @entryselbg-color;
}

.menu .menuitem:hover, .menubar.menuitem:hover, .menubar .menuitem:hover
/*.cell:selected, GtkComboBox .cell:hover*/
{
	color: @entryselfg-color;
	background: /* First gradient gives a soft "shading" effect, y coordinate inversely related with background-size height */
	            -gtk-gradient(linear, 0 0, 0 0.5,
	                color-stop(0.0, rgba(0, 0, 0, 0)),
	                color-stop(1.0, alpha(shade(@entryselbg-color, 0.7), 0.7))),
	            /* Second gradient gives the stripped effect */
	            -gtk-gradient(linear, 0 0, 1 1,
	                color-stop(0.0, @entryselbg-color),
	                color-stop(0.25, @entryselbg-color), color-stop(0.26, shade(@entryselbg-color, 0.96)),
	                color-stop(0.50, shade(@entryselbg-color, 0.96)), color-stop(0.51, @entryselbg-color),
	                color-stop(0.75, @entryselbg-color), color-stop(0.76, shade(@entryselbg-color, 0.96)),
	                color-stop(1.00, shade(@entryselbg-color, 0.96)));
	/* this gives the border without changing the bounding box */
	box-shadow: inset 0 0 0 1px shade(@entryselbg-color, 0.7);
	/* repeat the background because we don't have repeating linear gradient */
	background-repeat: repeat-x;
	/* finally, set a fixed size to get the stripe effect realized.
	 * The height controls how fat the stripes are.
	 * The width controls the slant. */
    background-size: 40px 200%;
}

row:selected
{
	color: @entryselfg-color;
	background: -gtk-gradient(linear, 0 0, 0 1, 
	                color-stop(0.0, shade(@entryselbg-color, 0.9)),
	                color-stop(1.0, shade(@entryselbg-color, 0.6)));
}

row:active,
row:selected:focused
{
	color: @entryselfg-color;
	background: -gtk-gradient(linear, 0 0, 0 1, 
	                color-stop(0.0, shade(@entryselbg-color, 1.2)),
	                color-stop(1.0, shade(@entryselbg-color, 0.9)));
}

.menu .menuitem:hover > GtkLabel
{
	background: none;
	color: @entryselfg-color;
}

.menu >.menubar.menuitem:hover,
.menubar >.menuitem:hover > GtkLabel {
	background: none;
	color: @entryselfg-color;
	transition: 150ms ease-in-out;
}

GtkTextView, .entry {
	/* Members: GtkEntry. */
	color: @entryfg-color;
	background-color: @entrybg-color;
	padding: 3px 2px;
	border: 1px solid shade(@background-color, 0.5);
}

GtkTextView:focused, .entry:focused {
	box-shadow: inset 0 0 0 2px shade(@entryselbg-color, 0.7);
}

.entry:insensitive {
	/* Members: GtkEntry. */
	color: shade(@entryfg-color,0.5);
	/*background-color: shade(@entrybg-color,0.85);*/
}

.expander {
	/* Members: GtkExpander. */
}

GtkComboBox .button * {
	background: none;
}

GtkComboBox *:insensitive {
	color: shade(@entryfg-color,0.5);
}

GtkComboBox * {
	background: none;
}

GtkComboBox .menuitem:hover * {
	color: @entryselfg-color;
}

GtkSwitch.trough {
	border-radius: 0px;
}

GtkSwitch.slider:focus {
	box-shadow: inset 0px 0px 0 10px alpha(@entryselbg-color, 0.2),
	            inset 0px 0px 0 1px @entryselbg-color;
}

GtkSwitch.trough:active {
	background: @entryselbg-color;
	color: @entryselfg-color;
	box-shadow: inset 0 0 4px 2px shade(@entryselbg-color, 0.7);
}

GtkSpinButton.button {
	padding: 4px 4px;
}

GtkRadioButton > GtkLabel, GtkCheckButton > GtkLabel {
	padding: 2px 2px;
}

GtkRadioButton:focus > GtkLabel, GtkCheckButton:focus > GtkLabel {
	background: alpha(@entryselbg-color, 0.3);
	box-shadow: inset 0 0 0 1px @entryselbg-color;
	border-radius: 4px;
}

/*
 * Imports for widget-specific theming.
 */

@import url("widgets/gtkwindow.css");
@import url("widgets/gtkswitch.css");
@import url("widgets/gtkscrollbar.css");
@import url("widgets/gtkcalendar.css");
@import url("widgets/gtkcombobox.css");
@import url("widgets/gtkwidget.css");
@import url("widgets/gtknotebook.css");
@import url("widgets/gtkmessagedialog.css");
@import url("widgets/gtktreeview.css");
@import url("widgets/gtkcheckmenuitem.css");
@import url("widgets/gtkprogressbar.css");
@import url("widgets/gtkscale.css");
@import url("widgets/gtkbuttonbox.css");
@import url("widgets/gtkinfobar.css");
@import url("widgets/gtkscrolledwindow.css");
@import url("widgets/gtkrange.css");
@import url("widgets/gtkdialog.css");
@import url("widgets/gtktoolbutton.css");
@import url("widgets/gtkiconview.css");
@import url("widgets/gtkmenu.css");
@import url("widgets/gtkmenuitem.css");
@import url("widgets/gtkspinbutton.css");
@import url("widgets/gtktoolbar.css");
@import url("widgets/gtkcheckbutton.css");
@import url("widgets/gtkpaned.css");
@import url("widgets/gtktoolitemgroup.css");
@import url("widgets/gtkarrow.css");
@import url("widgets/gtkassistant.css");
@import url("widgets/gtktextview.css");
@import url("widgets/gtkexpander.css");
@import url("widgets/gtkmenubar.css");
@import url("widgets/gtkentry.css");
@import url("widgets/gtkbutton.css");
@import url("widgets/gtkstatusbar.css");
