/**
 * Style classes.
 *
 * The style classes rules apply to any widget defining that class.
 * For example, the .buttons class applies to all types of buttons,
 * and allows you to theme all these types of buttons using a single
 * set of rules.
 *
 * You can use all style properties defined for any of the class
 * members in the class rules. These properties can be found in
 * 'Template\Widgets\WidgetName.css'.
 *
 * alt reference:
 * https://git.gnome.org/browse/gtk+/tree/gtk/theme/Adwaita/gtk-contained.css?id=48e543fbc88e753a1a496248eaa7f83b5722de86
 */

*
{
	background-color: @background-color;
	color: @foreground-color;
}

:link {
	color: @link-color;
}

*:disabled{
	/*background-color: shade(@background-color,0.85);*/
	color: shade(@foreground-color,0.5);
}

image, button *, frame
{
	background: none;
}

image {
	border: none;
}

.accelerator {
	/* Members: GtkAccelLabel. */
}

frame border {
	/* Members: GtkFrame. */
	border: 1px solid shade(@background-color, 0.6);
}

frame label {
	border: none;
}

.calendar {
	/* Members: GtkCalendar. */
}

radio:checked, check:checked, radio:indeterminate, check:indeterminate {
	background: 
	    -gtk-gradient(radial,
	        center bottom, 0, 
	        center center, 1,
	        color-stop(1.0, rgba(0, 0, 0, 0)),
	        color-stop(0.0, shade(@entryselbg-color, 1.6))),
	    @entryselbg-color;
	color: @entryselfg-color;
}


radio, check, treeview.view check:not(:checked) {
	background: @entryselbg-color;
	color: @entryselfg-color;
	box-shadow: inset 0px 0px 1px 1px shade(@background-color, 0.8);
	border:none;
	margin: 1px;
	/* .radio Members: GtkCellRendererToggle, GtkRadioMenuItem, GtkRadioButton. */
	/* .check Members: GtkCheckMenuItem, GtkCellRendererToggle, GtkCheckButton. */
}

check {
	border-radius: 4px;
}

radio {
	border-radius: 20px;
}

treeview.view check:checked:selected, check:checked {
	/* workaround until this is fixed upstream */
	-gtk-icon-source: image(
		-gtk-recolor(url("assets/checkmark-symbolic.svg")),
		-gtk-recolor(url("assets/checkmark-symbolic.png"))
	);
	/* -gtk-icon-source: none; */
}

radio:checked {
	-gtk-icon-source: image(
		-gtk-recolor(url('assets/radio-symbolic.svg')),
		-gtk-recolor(url('assets/radio-symbolic.png'))
	);
}

radio:indeterminate, check:indeterminate {
	-gtk-icon-source: image(
		-gtk-recolor(url('assets/indeterminate-symbolic.svg')),
		-gtk-recolor(url('assets/indeterminate-symbolic.png'))
	);
}

check:checked, radio:checked,
check:indeterminate, radio:indeterminate
{
	-gtk-icon-shadow: 0px 0px 2px shade(@entryselfg-color, 1.3);
}

check:disabled, radio:disabled
{
	-gtk-icon-shadow: 0px 0px 2px shade(@entryselbg-color, 0.3);
}

menuitem radio, menuitem check {
	min-height: 16px;
	min-width: 16px;
}

check:disabled, radio:disabled {
	background: shade(@entryselbg-color, 0.7);
	color: shade(@entryselbg-color, 0.3);
}

check:disabled:checked, radio:disabled:checked {
	background:
	    -gtk-gradient(radial,
	        center bottom, 0,
	        center center, 1,
	        color-stop(1.0, rgba(0, 0, 0, 0)),
	        color-stop(0.0, shade(@entryselbg-color, 1.3))),
	    shade(@entryselbg-color, 0.7);
}

.menubar {
	/* Members: GtkMenuBar. */
}

/* Members: GtkSpinner. */

@keyframes spinner {
/* 0.00% {-gtk-icon-source: url('assets/spin/tmp-0.gif')}
3.45% {-gtk-icon-source: url('assets/spin/tmp-1.gif')}
6.90% {-gtk-icon-source: url('assets/spin/tmp-2.gif')}
10.34% {-gtk-icon-source: url('assets/spin/tmp-3.gif')}
13.79% {-gtk-icon-source: url('assets/spin/tmp-4.gif')}
17.24% {-gtk-icon-source: url('assets/spin/tmp-5.gif')}
20.69% {-gtk-icon-source: url('assets/spin/tmp-6.gif')}
24.14% {-gtk-icon-source: url('assets/spin/tmp-7.gif')}
27.59% {-gtk-icon-source: url('assets/spin/tmp-8.gif')}
31.03% {-gtk-icon-source: url('assets/spin/tmp-9.gif')}
34.48% {-gtk-icon-source: url('assets/spin/tmp-10.gif')}
37.93% {-gtk-icon-source: url('assets/spin/tmp-11.gif')}
41.38% {-gtk-icon-source: url('assets/spin/tmp-12.gif')}
44.83% {-gtk-icon-source: url('assets/spin/tmp-13.gif')}
48.28% {-gtk-icon-source: url('assets/spin/tmp-14.gif')}
51.72% {-gtk-icon-source: url('assets/spin/tmp-15.gif')}
55.17% {-gtk-icon-source: url('assets/spin/tmp-16.gif')}
58.62% {-gtk-icon-source: url('assets/spin/tmp-17.gif')}
62.07% {-gtk-icon-source: url('assets/spin/tmp-18.gif')}
65.52% {-gtk-icon-source: url('assets/spin/tmp-19.gif')}
68.97% {-gtk-icon-source: url('assets/spin/tmp-20.gif')}
72.41% {-gtk-icon-source: url('assets/spin/tmp-21.gif')}
75.86% {-gtk-icon-source: url('assets/spin/tmp-22.gif')}
79.31% {-gtk-icon-source: url('assets/spin/tmp-23.gif')}
82.76% {-gtk-icon-source: url('assets/spin/tmp-24.gif')}
86.21% {-gtk-icon-source: url('assets/spin/tmp-25.gif')}
89.66% {-gtk-icon-source: url('assets/spin/tmp-26.gif')}
93.10% {-gtk-icon-source: url('assets/spin/tmp-27.gif')}
96.55% {-gtk-icon-source: url('assets/spin/tmp-28.gif')}
100.00% {-gtk-icon-source: url('assets/spin/tmp-0.gif')} */
to { -gtk-icon-transform: rotate(1turn); }
}

@keyframes ispinner {
/* 0.00% {-gtk-icon-source: url('assets/ispin/tmp-0.gif')}
3.45% {-gtk-icon-source: url('assets/ispin/tmp-1.gif')}
6.90% {-gtk-icon-source: url('assets/ispin/tmp-2.gif')}
10.34% {-gtk-icon-source: url('assets/ispin/tmp-3.gif')}
13.79% {-gtk-icon-source: url('assets/ispin/tmp-4.gif')}
17.24% {-gtk-icon-source: url('assets/ispin/tmp-5.gif')}
20.69% {-gtk-icon-source: url('assets/ispin/tmp-6.gif')}
24.14% {-gtk-icon-source: url('assets/ispin/tmp-7.gif')}
27.59% {-gtk-icon-source: url('assets/ispin/tmp-8.gif')}
31.03% {-gtk-icon-source: url('assets/ispin/tmp-9.gif')}
34.48% {-gtk-icon-source: url('assets/ispin/tmp-10.gif')}
37.93% {-gtk-icon-source: url('assets/ispin/tmp-11.gif')}
41.38% {-gtk-icon-source: url('assets/ispin/tmp-12.gif')}
44.83% {-gtk-icon-source: url('assets/ispin/tmp-13.gif')}
48.28% {-gtk-icon-source: url('assets/ispin/tmp-14.gif')}
51.72% {-gtk-icon-source: url('assets/ispin/tmp-15.gif')}
55.17% {-gtk-icon-source: url('assets/ispin/tmp-16.gif')}
58.62% {-gtk-icon-source: url('assets/ispin/tmp-17.gif')}
62.07% {-gtk-icon-source: url('assets/ispin/tmp-18.gif')}
65.52% {-gtk-icon-source: url('assets/ispin/tmp-19.gif')}
68.97% {-gtk-icon-source: url('assets/ispin/tmp-20.gif')}
72.41% {-gtk-icon-source: url('assets/ispin/tmp-21.gif')}
75.86% {-gtk-icon-source: url('assets/ispin/tmp-22.gif')}
79.31% {-gtk-icon-source: url('assets/ispin/tmp-23.gif')}
82.76% {-gtk-icon-source: url('assets/ispin/tmp-24.gif')}
86.21% {-gtk-icon-source: url('assets/ispin/tmp-25.gif')}
89.66% {-gtk-icon-source: url('assets/ispin/tmp-26.gif')}
93.10% {-gtk-icon-source: url('assets/ispin/tmp-27.gif')}
96.55% {-gtk-icon-source: url('assets/ispin/tmp-28.gif')}
100.00% {-gtk-icon-source: url('assets/ispin/tmp-0.gif')} */
to { -gtk-icon-transform: rotate(1turn); }
}

spinner:checked {
	animation: spinner 1s infinite linear;
}

spinner:checked:disabled {
	/*animation: ispinner 1s infinite linear;*/
	opacity: 0.5;
}

spinner {
	background-color: transparent;
	/* -gtk-icon-source: url('assets/spin.gif'); */
	-gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:disabled {
	/* -gtk-icon-source: url('assets/ispin.gif'); */
}



.menu {
	/* Members: GtkCheckMenuItem, GtkRadioMenuItem, GtkMenu, GtkMenuItem. */
}

tooltip {
	/* Members: GtkTooltip. */
	color: @tooltip-fg-color;
	border: 1px solid shade(@tooltipbg-color, 2.2);
	background: -gtk-gradient(linear, 0 0, 0 1,
	                color-stop(0.0,shade(@tooltipbg-color,1.2)),
	                color-stop(0.50,shade(@tooltipbg-color,1.3)),
	                color-stop(0.51,shade(@tooltipbg-color,1.5)),
	                color-stop(1.00,shade(@tooltipbg-color,1.2)));
}

tooltip * {
	background: none;
	border: none;
}

.cell {
	/* Members: GtkCellRendererToggle. */
	color: @entryfg-color;
	background-color: @entrybg-color;
}

treeview button * {
	background: none;
}

treeview button {
	border-color: shade(@background-color, 0.9);
	background: -gtk-gradient(radial, center bottom, 0.28, center center, 1.0,
	                color-stop(0.00, shade(@background-color, 1.3)),
	                color-stop(0.16, shade(@background-color, 1.1)),
	                color-stop(1.00, @background-color));
	box-shadow: none;
}

.viewport {
	/* Members: GtkViewport. */
}

.grip {
	/* Members: GtkWindow. */
}

.popup {
	/* Members: GtkMenu. */
}

.scrolled-window {
	/* Members: GtkScrolledWindow. */
}

slider {
	background: -gtk-gradient(linear, 0 0, 0 1,
	                color-stop(0.0,shade(@background-color,1.2)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.3)),
	                color-stop(1.00,shade(@background-color,1.2)));
	border-radius: 3px;
	/* Members: GtkScale, GtkScrollbar. */
}

scale.vertical slider {
	background: -gtk-gradient(linear, 0 0, 1 0,
	                color-stop(0.0,shade(@background-color,1.2)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.3)),
	                color-stop(1.00,shade(@background-color,1.2)));
}

scrollbar slider {
	padding: 4px;
	border-radius: 0px;
	border-color: shade(@entryselbg-color, 0.7);
	box-shadow: inset 0 0 0 1px shade(@entryselbg-color, 2.0);
}

scrollbar button {
	min-width: 8px;
	min-height: 8px;
	padding: 4px;
}

scrollbar button {
	-gtk-icon-source: image(
		-gtk-recolor(url("assets/pan-symbolic.svg")),
		-gtk-recolor(url("assets/pan-symbolic.png"))
	);
}

scrollbar.vertical button.up {
	-gtk-icon-transform: rotate(180deg);
}

scrollbar.horizontal button.up {
	-gtk-icon-transform: rotate(90deg);
}

scrollbar.horizontal button.down {
	-gtk-icon-transform: rotate(-90deg);
}

scrollbar.vertical slider {
	background: -gtk-gradient(linear, 0 0, 0.5 0, color-stop(0.0, alpha(shade(@entryselbg-color, 1.6), 0.5) ),
	                color-stop(0.50,alpha(shade(@entryselbg-color,1.7), 0.5)),
	                color-stop(0.51,alpha(shade(@entryselbg-color,2.0), 0.5)),
	                color-stop(0.52, rgba(0, 0, 0, 0))),

	            -gtk-gradient(linear, 0 0, 1 1,
	                color-stop(0.0, @entryselbg-color),
	                color-stop(0.25, @entryselbg-color), color-stop(0.26, shade(@entryselbg-color, 0.90)),
	                color-stop(0.50, shade(@entryselbg-color, 0.90)), color-stop(0.51, @entryselbg-color),
	                color-stop(0.75, @entryselbg-color), color-stop(0.76, shade(@entryselbg-color, 0.90)),
	                color-stop(1.00, shade(@entryselbg-color, 0.90)));
	background-repeat: repeat-y;
	background-size: 200% 12px;
	min-width: 4px;
}

scrollbar.horizontal slider {
	background: -gtk-gradient(linear, 0 0, 0 0.5, color-stop(0.0, alpha(shade(@entryselbg-color, 1.6), 0.5) ),
	                color-stop(0.50,alpha(shade(@entryselbg-color,1.7), 0.5)),
	                color-stop(0.51,alpha(shade(@entryselbg-color,2.0), 0.5)),
	                color-stop(0.52, rgba(0, 0, 0, 0))),

	            -gtk-gradient(linear, 0 0, 1 1,
	                color-stop(0.0, @entryselbg-color),
	                color-stop(0.25, @entryselbg-color), color-stop(0.26, shade(@entryselbg-color, 0.90)),
	                color-stop(0.50, shade(@entryselbg-color, 0.90)), color-stop(0.51, @entryselbg-color),
	                color-stop(0.75, @entryselbg-color), color-stop(0.76, shade(@entryselbg-color, 0.90)),
	                color-stop(1.00, shade(@entryselbg-color, 0.90)));
	background-repeat:repeat-x;
	background-size: 12px 200%;
	min-height:4px;
}

scrollbar trough {
	border-radius: 0px;
	margin: 0px;
}

/*
GtkSwitch {
	background:yellow;
}*/

notebook {
	/* Members: GtkNotebook. */
}

tab * {
	border: none; background: none;
}

tab label + button {
	margin-left: 8px;
}

notebook stack {
	border: 1px solid shade(@background-color,0.5);
}

GtkFrame
{
	border: 1px solid shade(@background-color,0.5);
}

notebook tab {
	padding: 5px 8px;
	border: 1px solid shade(@background-color, 0.5);
}

notebook header.top tab {
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,0.7)),
	                color-stop(0.50,shade(@background-color,0.8)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,0.7)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 1.5), 0.3),
	            inset 0 -1px 0 0 shade(@background-color, 0.7);
	border-bottom:none;
	margin-top: 2px;
}

notebook header.bottom tab {
	background: -gtk-gradient(linear, 0 1, 0 0, color-stop(0.0,shade(@background-color,0.7)),
	                color-stop(0.50,shade(@background-color,0.8)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,0.7)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 1.5), 0.3),
	            inset 0 1px 0 0 shade(@background-color, 0.7);
	border-top:none;
	margin-bottom: 2px;
}

notebook header.left tab {
	background: -gtk-gradient(linear, 0 1, 0 0, color-stop(0.0,shade(@background-color,0.7)),
	                color-stop(0.50,shade(@background-color,0.8)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,0.7)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 1.5), 0.3),
	            inset -1px 0 0 0 shade(@background-color, 0.7);
	border-right:none;
	margin-left: 2px;
}

notebook header.right tab {
	background: -gtk-gradient(linear, 0 0, 1 0, color-stop(0.0,shade(@background-color,0.7)),
	                color-stop(0.50,shade(@background-color,0.8)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,0.7)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 1.5), 0.3),
	            inset 1px 0 0 0 shade(@background-color, 0.7);
	border-left: none;
	margin-right: 2px;
}

trough {
	/* Members: GtkProgressBar, GtkScale, GtkScrollbar, GtkSwitch. */
	background: shade(@background-color, 0.75);
	border: 1px solid shade(@background-color, 0.5);
	margin: 5px;
}

scale.vertical slider {
	padding:10px 5px;
}

scale.horizontal slider {
	padding:5px 10px;
}

scale highlight
{
	background: @entryselbg-color;
	box-shadow: inset 0 0 0 6px shade(@entryselbg-color, 1.2),
	            inset 0 0 0 5px shade(@entryselbg-color, 0.7),
	            inset 0 0 0 4px @background-color;
}

/*
scale trough.highlight.left, 
scale trough.highlight.right, 
scale trough.vertical.highlight.top,
scale trough.vertical.highlight.bottom 
{
	background: @entryselbg-color;
	box-shadow: inset 0 0 0 6px shade(@entryselbg-color, 1.2),
	            inset 0 0 0 5px shade(@entryselbg-color, 0.7),
	            inset 0 0 0 4px @background-color;
}*/

scale trough {
	box-shadow: inset 0 0 0 4px @background-color;
	border: 1px solid @background-color;
	margin: 0px;
}

scale:focus {
	border: 1px solid @entryselbg-color;
	box-shadow: inset 0 0 0 5px mix(@entryselbg-color, @background-color, 0.8);
	background: mix(@entryselbg-color, @background-color, 0.8);
}

/*.scale:focus.trough.highlight.left, 
.scale:focus.trough.highlight.right, 
.scale:focus.trough.vertical.highlight.top,
.scale:focus.trough.vertical.highlight.bottom*/
scale:focus highlight
{
	background: @entryselbg-color;
	box-shadow: inset 0 0 0 6px shade(@entryselbg-color, 1.2),
	            inset 0 0 0 5px shade(@entryselbg-color, 0.7),
	            inset 0 0 0 4px mix(@entryselbg-color, @background-color, 0.8);
}

scale:focus trough
{
	box-shadow: inset 0 0 0 6px shade(@background-color, 0.75),
	            inset 0 0 0 5px shade(@background-color, 0.5),
	            inset 0 0 0 4px mix(@entryselbg-color, @background-color, 0.8);
	border-radius: 0px;
}

levelbar trough
{
	background: none;
	border: none;
	margin: 0px;
}

levelbar.horizontal trough block {
	padding: 5px 0px;
}

levelbar.vertical trough block {
	padding: 5px 0px;
}

levelbar.discrete.horizontal block {
	margin: 2px 2px;
}

levelbar.discrete.vertical block {
	margin: 2px 2px;
}

levelbar.continuous block {
	background: @entryselbg-color;
}

levelbar.discrete block {
	background: @entryselbg-color;
	border: 1px solid shade(@entryselbg-color, 0.3);
}

levelbar block.empty {
	background: shade(@entryselbg-color, 0.5);
}

.background {
	/* Members: GtkWindow. */
}

.toolbar {
	/* Members: GtkToolbar. */
}

separator {
	border-right: 1px solid shade(@background-color, 2.4);
	border-top: 1px solid shade(@background-color, 2.4);
}

menu separator, popover.menu separator {
	margin:4px;
}

paned > separator {
	min-height:1px;
	min-width: 1px;
	border: none;
	margin: 2px;
}

paned.horizontal > separator {
	background: -gtk-gradient(linear, 0 0, 0 1, 
		color-stop(0.0, shade(@background-color, 2.4)),
		color-stop(0.5, shade(@background-color, 2.4)),
		color-stop(0.5, transparent)
	);
	background-repeat: repeat-y;
	background-size: 100% 20px;
}

paned.vertical > separator {
	background: -gtk-gradient(linear, 0 0, 1 0, 
		color-stop(0.0, shade(@background-color, 2.4)),
		color-stop(0.5, shade(@background-color, 2.4)),
		color-stop(0.5, transparent)
	);
	background-repeat: repeat-x;
	background-size: 20px 100%;
}

toolbar separator {
	border-right: 1px solid shade(@entryselbg-color, 0.7);
	background-clip: padding-box;
	margin: 4px;
}

toolbar button * {
	background: none;
}

.dock {
	/* Members: GtkHandleBox. */
}

button, slider, combobox {
	box-shadow: inset 0 0 0 1px shade(@background-color,3.6);
	border: 1px solid shade(@background-color, 0.3);
	padding: 1px 1px;
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,1.3)));
	/* Members: GtkCheckButton, GtkRadioButton, GtkButton, GtkToggleButton. */
}

button > * {
	padding: 2px;
}

button:focus > *
{
	background: alpha(shade(@entryselbg-color, 0.5), 0.4);
	box-shadow: inset 0 0 0 1px shade(@entryselbg-color, 0.9);
	color: @entryselfg-color;
}

button:hover, combobox:hover {
	box-shadow: inset 0 0 0 1px shade(@background-color, 5.4);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color, 1.7)),
	                color-stop(0.50,shade(@background-color,2.0)),
	                color-stop(0.51,shade(@background-color,1.7)),
	                color-stop(1.00,shade(@background-color,1.8)));
}

button:checked, button:active:hover
{
	border: 1px solid shade(@background-color, 0.5);
	box-shadow: inset 0 0 0 1px shade(@background-color, 0.8);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,1.3)),
	                color-stop(0.50,shade(@background-color,1.3)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,1.1)));
}

button:checked:hover {
	box-shadow: inset 0 0 0 1px shade(@background-color, 0.8);
	border: 1px solid shade(@background-color, 0.5);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.0)),
	                color-stop(1.00,shade(@background-color,1.3)));
}

toolbar button
{
	background:none;
	border-color: rgba(0, 0, 0, 0);
	padding: 5px 5px;
	box-shadow: none;
}

toolbar button:hover {
	box-shadow: inset 0 0 0 1px mix(@entryselbg-color, #bbbbbb, 0.2);
	border-color: shade(@entryselbg-color, 0.5);
	background: -gtk-gradient(radial, center bottom, 0.28,
	                                  center center, 1.0,
	                color-stop(0.00, alpha(shade(@entryselbg-color, 0.9), 0.7)),
	                color-stop(1.00, rgba(0, 0, 0, 0))),
	            -gtk-gradient(linear, 0 0, 0 1,
	                color-stop(0.0,shade(@entryselbg-color, 0.6)),
	                color-stop(0.50,shade(@entryselbg-color,0.6)),
	                color-stop(0.51,shade(@entryselbg-color,0.3)),
	                color-stop(1.00,shade(@entryselbg-color,0.4)));
}

toolbar button:checked,
toolbar button:active:hover
{
	background: -gtk-gradient(radial, center bottom, 0.28,
	                                  center center, 1.0,
	                color-stop(0.00, alpha(shade(@entryselbg-color, 1.2), 0.7)),
	                color-stop(1.00, rgba(0, 0, 0, 0))),
	            -gtk-gradient(linear, 0 0, 0 1,
	                color-stop(0.0, shade(mix(@background-color, @entryselbg-color, 0.9),1.3)),
	                color-stop(0.50,shade(mix(@background-color, @entryselbg-color, 0.9),1.3)),
	                color-stop(0.51,shade(mix(@background-color, @entryselbg-color, 0.9),0.9)),
	                color-stop(1.00,shade(mix(@background-color, @entryselbg-color, 0.9),1.1)));
	border: 1px solid shade(@entryselbg-color, 0.5);
	color: @entryselfg-color;
}

notebook header tab:checked {
	/*border: 1px solid shade(@background-color,3.6);*/
	padding: 7px 10px;
	margin: 0px;
}

notebook header.top tab:checked {
	border-right:  1px solid shade(@background-color, 0.8);
	border-left:   1px solid shade(@background-color, 0.8);
	border-bottom: none;
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.2)),
	                color-stop(1.00,shade(@background-color,1.0)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 3.6), 0.3),
	            0 1px 0 0 @background-color;
}

notebook header.left tab:checked {
	border-top:    1px solid shade(@background-color, 0.8);
	border-bottom: 1px solid shade(@background-color, 0.8);
	border-right:  none;
	background: -gtk-gradient(linear, 0 0, 1 0, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.2)),
	                color-stop(1.00,shade(@background-color,1.0)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 3.6), 0.3),
	            1px 0 0 0 @background-color;
}

notebook header.bottom tab:checked {
	border-right: 1px solid shade(@background-color, 0.8);
	border-left:  1px solid shade(@background-color, 0.8);
	border-top:   none;
	background: -gtk-gradient(linear, 0 1, 0 0, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.2)),
	                color-stop(1.00,shade(@background-color,1.0)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 3.6), 0.3),
	            0 -1px 0 0 @background-color;
}

notebook header.right tab:checked {
	border-top:    1px solid shade(@background-color, 0.8);
	border-bottom: 1px solid shade(@background-color, 0.8);
	border-left:   none;
	background: -gtk-gradient(linear, 1 0, 0 0, color-stop(0.0,shade(@background-color,1.5)),
	                color-stop(0.50,shade(@background-color,1.5)),
	                color-stop(0.51,shade(@background-color,1.2)),
	                color-stop(1.00,shade(@background-color,1.0)));
	box-shadow: inset 0 0 0 1px alpha(shade(@background-color, 3.6), 0.3),
	            -1px 0 0 0 @background-color;
}

button:disabled, slider:disabled {
	box-shadow: inset 0 0 0 1px shade(@background-color,1.3);
	background: -gtk-gradient(linear, 0 0, 0 1, color-stop(0.0,shade(@background-color,0.95)),
	                color-stop(0.50,shade(@background-color,1.05)),
	                color-stop(0.51,shade(@background-color,1.45)),
	                color-stop(1.00,shade(@background-color,1.05)));
	/* Members: GtkCheckButton, GtkRadioButton, GtkButton, GtkToggleButton. */
}

toolbar button:disabled
{
	opacity: 0.3;
	background: @background-color;
	border: none;
	box-shadow: none;
}

button.link * {
	text-decoration: underline;
	color: @link-color;
	padding: 1px 2px;
}

button.link {
	background: @background-color;
	box-shadow: none;
	border-color: rgba(0, 0, 0, 0);
}

progressbar progress {
	color: @entryselfg-color;
	box-shadow: inset 0 0 0 2px alpha(shade(@entryselbg-color, 4.8), 0.4),
	            inset 0 0 0 1px alpha(shade(@entryselbg-color, 1.0), 1.0);
	background-color: @entryselbg-color;
}

progressbar.horizontal progress {
	min-height: 24px;
	min-width: 0px;
	background-repeat: repeat-x;
	background-size: 40px 200%;
}

progressbar.horizontal progress.left {
	/* Members: GtkProgressBar, GtkCellRendererProgress. */
	background-image: -gtk-gradient(linear, 0 0, 0 0.5, color-stop(0.0, alpha(shade(@entryselbg-color, 1.6), 0.5) ),
	                color-stop(0.50,alpha(shade(@entryselbg-color,1.7), 0.5)),
	                color-stop(0.51,alpha(shade(@entryselbg-color,2.0), 0.5)),
	                color-stop(0.52, rgba(0, 0, 0, 0))),

	            -gtk-gradient(linear, 0 0, 1 1,
	                color-stop(0.0, transparent),
	                color-stop(0.25, transparent), color-stop(0.26, shade(@entryselbg-color, 0.90)),
	                color-stop(0.50, shade(@entryselbg-color, 0.90)), color-stop(0.51, transparent),
	                color-stop(0.75, transparent), color-stop(0.76, shade(@entryselbg-color, 0.90)),
	                color-stop(1.00, shade(@entryselbg-color, 0.90)));
}

progressbar.horizontal progress.right, progressbar.horizontal progress.pulse {
	background-image: -gtk-gradient(linear, 0 0, 0 0.5, color-stop(0.0, alpha(shade(@entryselbg-color, 1.6), 0.5) ),
	                color-stop(0.50,alpha(shade(@entryselbg-color,1.7), 0.5)),
	                color-stop(0.51,alpha(shade(@entryselbg-color,2.0), 0.5)),
	                color-stop(0.52, rgba(0, 0, 0, 0))),

	            -gtk-gradient(linear, 0 1, 1 0,
	                color-stop(0.0, transparent),
	                color-stop(0.25, transparent), color-stop(0.26, shade(@entryselbg-color, 0.90)),
	                color-stop(0.50, shade(@entryselbg-color, 0.90)), color-stop(0.51, transparent),
	                color-stop(0.75, transparent), color-stop(0.76, shade(@entryselbg-color, 0.90)),
	                color-stop(1.00, shade(@entryselbg-color, 0.90)));
}

progressbar.horizontal trough {
	min-height: 24px;
}

progressbar.vertical progress {
	min-width: 24px;
	min-height: 0px;
	background-repeat: repeat-y;
	background-size: 200% 40px;
}

progressbar.vertical progress.bottom {
	background-image: -gtk-gradient(linear, 0 0, 0.5 0, color-stop(0.0, alpha(shade(@entryselbg-color, 1.6), 0.5) ),
	                color-stop(0.50,alpha(shade(@entryselbg-color,1.7), 0.5)),
	                color-stop(0.51,alpha(shade(@entryselbg-color,2.0), 0.5)),
	                color-stop(0.52, rgba(0, 0, 0, 0))),

	            -gtk-gradient(linear, 0 0, 1 1,
	                color-stop(0.0, transparent),
	                color-stop(0.25, transparent), color-stop(0.26, shade(@entryselbg-color, 0.90)),
	                color-stop(0.50, shade(@entryselbg-color, 0.90)), color-stop(0.51, transparent),
	                color-stop(0.75, transparent), color-stop(0.76, shade(@entryselbg-color, 0.90)),
	                color-stop(1.00, shade(@entryselbg-color, 0.90)));
}

progressbar.vertical progress.top {
	background-image: -gtk-gradient(linear, 0 0, 0.5 0, color-stop(0.0, alpha(shade(@entryselbg-color, 1.6), 0.5) ),
	                color-stop(0.50,alpha(shade(@entryselbg-color,1.7), 0.5)),
	                color-stop(0.51,alpha(shade(@entryselbg-color,2.0), 0.5)),
	                color-stop(0.52, rgba(0, 0, 0, 0))),

	            -gtk-gradient(linear, 0 1, 1 0,
	                color-stop(0.0, transparent),
	                color-stop(0.25, transparent), color-stop(0.26, shade(@entryselbg-color, 0.90)),
	                color-stop(0.50, shade(@entryselbg-color, 0.90)), color-stop(0.51, transparent),
	                color-stop(0.75, transparent), color-stop(0.76, shade(@entryselbg-color, 0.90)),
	                color-stop(1.00, shade(@entryselbg-color, 0.90)));
}

progressbar.vertical trough {
	min-width: 24px;
}

progressbar.vertical text  {
	margin-right: 36px;
	margin-left: -36px;
}

@keyframes vstripe_move
{
	0% {background-position:  left top, 0 0;}
	100% {background-position:  left top, 0 40px;}
}

@keyframes hstripe_move
{
	0% {background-position:  left top, 0 0;}
	100% {background-position:  left top, 40px 0;}
}

/*
progressbar.vertical progress.top {
	animation: vstripe_move 1s linear infinite;
}

progressbar.vertical progress.bottom {
	animation: vstripe_move 1s linear reverse infinite;
}

progressbar.horizontal progress.right {
	animation: hstripe_move 1s linear infinite;
}

progressbar.horizontal progress.left {
	animation: hstripe_move 1s linear reverse infinite;
}
*/

.arrow {
	/* Members: GtkArrow. */
}

menuitem {
	/* Members: GtkMenuItem. */
	color: @menufg-color;
	background-color: @menubg-color;
	padding: 3px 2px;
}

label, label:disabled {
	background:none;
}

selection, combobox entry selection
{
	color: @entryselfg-color;
	background: @entryselbg-color;
}

popover.menu box {
	background:none;
}

popover.menu modelbutton {
	padding:4px;
}

menu menuitem:hover, menubar>menuitem:hover, menubar menuitem:hover,
popover.menu modelbutton:hover
/*.cell:selected, GtkComboBox .cell:hover*/
{
	color: @entryselfg-color;
	background: /* First gradient gives a soft "shading" effect, y coordinate inversely related with background-size height */
	            -gtk-gradient(linear, 0 0, 0 0.5,
	                color-stop(0.0, rgba(0, 0, 0, 0)),
	                color-stop(1.0, alpha(shade(@entryselbg-color, 0.7), 0.7))),
	            /* Second gradient gives the stripped effect */
	            -gtk-gradient(linear, 0 0, 1 1,
	                color-stop(0.0, @entryselbg-color),
	                color-stop(0.25, @entryselbg-color), color-stop(0.26, shade(@entryselbg-color, 0.96)),
	                color-stop(0.50, shade(@entryselbg-color, 0.96)), color-stop(0.51, @entryselbg-color),
	                color-stop(0.75, @entryselbg-color), color-stop(0.76, shade(@entryselbg-color, 0.96)),
	                color-stop(1.00, shade(@entryselbg-color, 0.96)));
	/* this gives the border without changing the bounding box */
	box-shadow: inset 0 0 0 1px shade(@entryselbg-color, 0.7);
	/* repeat the background because we don't have repeating linear gradient */
	background-repeat: repeat-x;
	/* finally, set a fixed size to get the stripe effect realized.
	 * The height controls how fat the stripes are.
	 * The width controls the slant. */
    background-size: 40px 200%;
}

treeview.view:selected,
iconview.view:selected,
.sidebar-row:selected *
{
	color: @entryselfg-color;
	background: -gtk-gradient(linear, 0 0, 0 1, 
	                color-stop(0.0, shade(@entryselbg-color, 0.9)),
	                color-stop(1.0, shade(@entryselbg-color, 0.6)));
}

treeview.view:active,
treeview.view:selected:focus,
iconview.view:active,
iconview.view:selected:focus,
.sidebar-row:selected:focus *
{
	color: @entryselfg-color;
	background: -gtk-gradient(linear, 0 0, 0 1, 
	                color-stop(0.0, shade(@entryselbg-color, 1.2)),
	                color-stop(1.0, shade(@entryselbg-color, 0.9)));
}

menubar {
	background: @background-color;
}

menubar > menuitem {
	background: none;
	padding: 4px;
}

menubar > menuitem > label  {
	color: @foreground-color;
}

menu menuitem:hover > label,
menu menuitem:hover > label > accelerator,
menu menuitem:hover > image,
popover.menu :hover label
{
	background: none;
	color: @entryselfg-color;
}

menu > menubar > menuitem:hover,
menubar > menuitem:hover > label,
menuitem:hover > arrow 
{
	background: none;
	color: @entryselfg-color;
	transition: 150ms ease-in-out;
}

menuitem > label,
menuitem > label > accelerator,
combobox menuitem:not(:hover) *
{
	border: none;
	color: @menufg-color;
}

menu menuitem arrow {
	min-height: 16px;
	min-width: 16px; 
	background: none
}

menu menuitem arrow:dir(ltr) {
	-gtk-icon-source: image(
		-gtk-recolor(url("assets/pan-symbolic.svg")),
		-gtk-recolor(url("assets/pan-symbolic.png"))
	);
	-gtk-icon-transform: rotate(-90deg);
	margin-left: 8px;
}

menu menuitem arrow:dir(rtl) {
	-gtk-icon-source: image(
		-gtk-recolor(url("assets/pan-symbolic.svg")),
		-gtk-recolor(url("assets/pan-symbolic.png"))
	);
	-gtk-icon-transform: rotate(90deg);
	margin-right: 8px;
}


textview.view text, entry, entry.combo {
	/* Members: GtkEntry. */
	color: @entryfg-color;
	background-color: @entrybg-color;
	padding: 3px 2px;
	border: 1px solid shade(@background-color, 0.5);
}

textview.text:focus, entry:focus {
	box-shadow: inset 0 0 0 2px shade(@entryselbg-color, 0.7);
}

entry:disabled {
	/* Members: GtkEntry. */
	color: shade(@entryfg-color,0.5);
	/*background-color: shade(@entrybg-color,0.85);*/
}

/* Members: GtkExpander. */
expander > title > arrow {
	min-width: 16px;
	min-height: 16px;
	background: -gtk-icontheme('pan-end-symbolic');
}

expander > title > arrow:checked {
	background: -gtk-icontheme('pan-down-symbolic');
}

combobox button.combo {
	background: inherit;
}

combobox entry.combo + button.combo {
}

combobox *:disabled {
	color: shade(@entryfg-color,0.5);
}

combobox * {
	background: none;
	border: none;
}

combobox menuitem:hover * {
	color: @entryselfg-color;
}

button.combo:first-child arrow {
	background: image(
		-gtk-recolor(url("assets/combodrop-symbolic.svg")),
		-gtk-recolor(url("assets/combodrop-symbolic.png"))
	);
	max-height: 8px;
	min-width: 8px;
	background-size: 100% 100%;
	background-position: center;
}

entry.combo + button.combo arrow {
	background: image(
		-gtk-recolor(url("assets/combodrop-symbolic.svg")),
		-gtk-recolor(url("assets/combodrop-symbolic.png"))
	);
	min-height: 16px;
	min-width: 12px;
	background-size: 100% 100%;
	background-position: center;
	padding: 0px;
}

switch slider {
	border-radius: 0px;
}

switch {
	box-shadow: inset 0 0 4px 2px shade(@background-color, 0.5);
}

switch:focus slider {
	box-shadow: inset 0px 0px 0 13px alpha(@entryselbg-color, 0.2),
	            inset 0px 0px 0 1px @entryselbg-color;
}

switch:checked {
	background: @entryselbg-color;
	color: @entryselfg-color;
	box-shadow: inset 0 0 4px 2px shade(@entryselbg-color, 0.7);
}

spinbutton > button {
	padding: 4px 4px;
}

radiobutton > label, checkbutton > label {
	padding: 2px 2px;
}

radiobutton:focus > label, checkbutton:focus > label {
	background: alpha(@entryselbg-color, 0.3);
	box-shadow: inset 0 0 0 1px @entryselbg-color;
	border-radius: 4px;
}

colorswatch overlay
{
	background: none;
}

scrolledwindow undershoot,
scrolledwindow overshoot
{
	background: none;
}

stackswitcher button {
	padding: 4px 8px;
}

popover, overlay > toolbar {
	border: 1px solid shade(@background-color, 3);
}

/*
 * Imports for widget-specific theming.
 */

@import url("widgets/gtkwindow.css");
@import url("widgets/gtkswitch.css");
@import url("widgets/gtkscrollbar.css");
@import url("widgets/gtkcalendar.css");
@import url("widgets/gtkcombobox.css");
@import url("widgets/gtkwidget.css");
@import url("widgets/gtknotebook.css");
@import url("widgets/gtkmessagedialog.css");
@import url("widgets/gtktreeview.css");
@import url("widgets/gtkcheckmenuitem.css");
@import url("widgets/gtkprogressbar.css");
@import url("widgets/gtkscale.css");
@import url("widgets/gtkbuttonbox.css");
@import url("widgets/gtkinfobar.css");
@import url("widgets/gtkscrolledwindow.css");
@import url("widgets/gtkrange.css");
@import url("widgets/gtkdialog.css");
@import url("widgets/gtktoolbutton.css");
@import url("widgets/gtkiconview.css");
@import url("widgets/gtkmenu.css");
@import url("widgets/gtkmenuitem.css");
@import url("widgets/gtkspinbutton.css");
@import url("widgets/gtktoolbar.css");
@import url("widgets/gtkcheckbutton.css");
@import url("widgets/gtkpaned.css");
@import url("widgets/gtktoolitemgroup.css");
@import url("widgets/gtkarrow.css");
@import url("widgets/gtkassistant.css");
@import url("widgets/gtktextview.css");
@import url("widgets/gtkexpander.css");
@import url("widgets/gtkmenubar.css");
@import url("widgets/gtkentry.css");
@import url("widgets/gtkbutton.css");
@import url("widgets/gtkstatusbar.css");
