#kupfer {
	box-shadow: inset 0px 0px 9px 3px @entryselbg-color;
}

#kupfer-object-pane:selected .matchview,
#kupfer-action-pane:selected .matchview,
#kupfer-indirect-object-pane:selected .matchview
{
	background: mix(@entryselbg-color, @background-color, 0.8);
	border: 1px solid @entryselbg-color;
	box-shadow: inset 0px 0px 9px 3px @entryselbg-color;
}

#kupfer-object-pane .matchview,
#kupfer-action-pane .matchview,
#kupfer-indirect-object-pane .matchview
{
	background: mix(@entryselbg-color, @background-color, 0.9);
	border: 1px solid mix(@entryselbg-color, @background-color, 0.8);
	box-shadow: inset 0px 0px 9px 3px mix(@entryselbg-color, @background-color, 0.5);
}
